@model ContactViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-4 md-12 animate__animated animate__fadeInLeft">
            <div class="card cardcontact">
                <div class="card-body d-flex">
                    <i class="conicon fas fa-phone-square"></i>
                    <h3 class="elaqevasiteleri">055 555 55 55</h3>
                </div>
            </div>
            <div class="card cardcontact">
                <div class="card-body d-flex">
                    <i class="conicon fas fa-envelope-square"></i>
                    <h3 class="elaqevasiteleri">info@neyeyim.az</h3>
                </div>
            </div>
            <div class="contact-item cardcontact1">
                <img src="https://menyum.az/assetsDesk/images/contact/icon-1.svg" alt="">
                <h4 class="unvancap">Ünvan</h4>
                <p class="unvan">Nəriman Nərimanov rayonu, Əhməd Rəcəbli 16</p>
                <p><i class="fa fa-clock-o pr-10"></i>10:00 – 20:00 Həftə içi hər gün</p>
            </div>
        </div>

        <div class="col-lg-4 md-12 animate__animated animate__fadeInLeft">
            <div class="card cardcontact">
                <div class="card-body d-flex">
                    <i class="conicon fas fa-phone-square"></i>
                    <h3 class="elaqevasiteleri">050 500 50 50</h3>
                </div>
            </div>
            <div class="card cardcontact">
                <div class="card-body d-flex">
                    <i class="conicon fas fa-envelope-square"></i>
                    <h3 class="elaqevasiteleri">contact@neyeyim.az</h3>
                </div>
            </div>
        </div>


        <div class="col-lg-4 animate__animated animate__fadeIn">
            <a href="campaigns.html">
                <div class="col-lg-12" style="height: 100%">
                    <img class="promotion" src="uploads/img/promotion.jpg" alt=""
                         style="width: 100%; position: sticky !important; top: 1px" />
                </div>
            </a>
        </div>
    </div>
</div>
