@model PlaceViewModel

<!--Start of DropDown Area-->
<section class="dropdowns animate__animated animate__fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                <div class="dropdown input-group">
                    <select class="form-select" id="inputGroupSelect02">
                        <option selected>Kateqoriya</option>
                        <option value="1">Restoran</option>
                        <option value="2">Kafe</option>
                        <option value="3">Pub</option>
                        <option value="4">Antikafe</option>
                        <option value="5">Coffee shop</option>

                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                <div class="dropdown input-group">
                    <select class="form-select" id="inputGroupSelect02">
                        <option selected>Tag</option>
                        <option value="1">LiveMusic</option>
                        <option value="2">FastFood</option>
                        <option value="3">Coffee</option>
                        <option value="3">Drink</option>
                        <option value="3">Games</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                <div class="dropdown input-group">
                    <select class="form-select" id="inputGroupSelect02">
                        <option selected>Açıq/Qapalı</option>
                        <option value="1">Açıq</option>
                        <option value="2">Qapalı</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                <button type="button" class="btn"
                        style="background-color: #009DE0; color: white; margin: auto; margin-bottom: 50px; margin-top: 30px;">
                    Axtar
                </button>
            </div>
        </div>
    </div>
</section>
<!--End of DropDown Area-->

<!--Start of Places Area-->
<section class="cards  animate__animated animate__fadeIn">
    <div class="container">
        <div class="row">
           @foreach (var item in Model.Places)
            {
                <div class="col-lg-4 col-md-12">
                    <a href="restdetail.html" style="text-decoration: none;">
                        <div class="card" style="width: 18rem; border-bottom: 5px solid #009de0;">
                            <img src="uploads/img/@item.Image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h class="restname">@item.Name</h>
                                <p class="Category-name">@item.Category.Name</p>
                                <hr>
                                <i class="fas fa-star" style="color: #009de0;"> 4.5</i>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!--End of Places Area-->
