@model CampaignViewModel

<section class="cards animate__animated animate__fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card" style="width: 18rem;">
                    <img src="uploads/img/burgerking.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BigKing Menyu</h5>
                        <p class="card-text">
                            1. Bigking Burger <br>
                            2. Fri (Böyük)<br>
                            3. Soğan Halqaları (6 ədəd)<br>
                            4.Coca-Cola (500 ml)
                        </p>
                        <h2 class="card-title">12 AZN</h2>
                        <a href="restdetail.html" class="btn text-center"
                           style="background-color: #009de0; color: white;">Burger King</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="card" style="width: 18rem;">
                    <img src="uploads/img/burgerking.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BigKing Menyu</h5>
                        <p class="card-text">
                            1. Bigking Burger <br>
                            2. Fri (Böyük)<br>
                            3. Soğan Halqaları (6 ədəd)<br>
                            4.Coca-Cola (500 ml)
                        </p>
                        <h2 class="card-title">12 AZN</h2>
                        <a href="restdetail.html" class="btn text-center"
                           style="background-color: #009de0; color: white;">Burger King</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="card" style="width: 18rem;">
                    <img src="uploads/img/burgerking.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BigKing Menyu</h5>
                        <p class="card-text">
                            1. Bigking Burger <br>
                            2. Fri (Böyük)<br>
                            3. Soğan Halqaları (6 ədəd)<br>
                            4.Coca-Cola (500 ml)
                        </p>
                        <h2 class="card-title">12 AZN</h2>
                        <a href="restdetail.html" class="btn text-center"
                           style="background-color: #009de0; color: white;">Burger King</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="card" style="width: 18rem;">
                    <img src="uploads/img/burgerking.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BigKing Menyu</h5>
                        <p class="card-text">
                            1. Bigking Burger <br>
                            2. Fri (Böyük)<br>
                            3. Soğan Halqaları (6 ədəd)<br>
                            4.Coca-Cola (500 ml)
                        </p>
                        <h2 class="card-title">12 AZN</h2>
                        <a href="restdetail.html" class="btn text-center"
                           style="background-color: #009de0; color: white;">Burger King</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="card" style="width: 18rem;">
                    <img src="uploads/img/burgerking.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BigKing Menyu</h5>
                        <p class="card-text">
                            1. Bigking Burger <br>
                            2. Fri (Böyük)<br>
                            3. Soğan Halqaları (6 ədəd)<br>
                            4.Coca-Cola (500 ml)
                        </p>
                        <h2 class="card-title">12 AZN</h2>
                        <a href="restdetail.html" class="btn text-center"
                           style="background-color: #009de0; color: white;">Burger King</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="card" style="width: 18rem;">
                    <img src="uploads/img/burgerking.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BigKing Menyu</h5>
                        <p class="card-text">
                            1. Bigking Burger <br>
                            2. Fri (Böyük)<br>
                            3. Soğan Halqaları (6 ədəd)<br>
                            4.Coca-Cola (500 ml)
                        </p>
                        <h2 class="card-title">12 AZN</h2>
                        <a href="restdetail.html" class="btn text-center"
                           style="background-color: #009de0; color: white;">Burger King</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
