@using neyeyim.Models;
@model List<Promotion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";

    int selectedPage = (int)ViewBag.SelectedPage;
    int totalPage = (int)ViewBag.TotalPageCount;

    int i = ((int)ViewBag.SelectedPage - 1) * 3;
}

<div class="container-fluid">

    <table class="table table-bordered">
        <thead>
            <tr class="row">
                <th class="col-md-1">#</th>
                <th class="col-md-4">Şəkil</th>
                <th class="col-md-4">Url</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>

        <tbody>
           @foreach (var item in Model)
            {
                i++;
            <tr class="row">
                <td class="col-md-1">@i</td>
                <td class="col-md-4">@item.Image</td>
                <td class="col-md-4">@item.RedirectUrl</td>
                <td class="col-md-1">
                    <a class="btn btn-warning" asp-action="edit" asp-route-id="@item.Id">Redaktə et</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>