.navbar {
  background-color: white;
}

.navbar-position-class {
  position: fixed !important;
  top: 0 !important;
  z-index: 10000000000 !important;
  width: 100%;
}

.nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.card-text1 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
}

.card-text {
  font-family: "Uchen", serif;
  font-size: 20px;
}

.basketalert {
  font-family: "Oswald", sans-serif;
  color: #009de0;
}

.placealert {
  font-family: "Oswald", sans-serif;
  color: #009de0;
}

.fas {
  margin-right: 25px;
}

.topbar {
  background-color: #f8f9fa;
}

.footer-basic {
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 40px 0;
  background-color: #ffffff;
  color: #009de0;
}

.Category-name {
  color: black;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.cardcaption {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #009de0;
  margin-bottom: 30px;
}

.restname {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: #009de0;
}

.orderrestn {
  font-family: "Teko", sans-serif;
  color: #009de0;
  font-size: 40px;
}

.ordername {
  font-family: "Teko", sans-serif;
  color: black;
  font-size: 25px;
}

.paybtn {
  background-color: #009de0 !important;
  color: white !important;
  text-align: center !important;
}

.pay-card-title {
  font-family: "Teko", sans-serif;
  color: #009de0;
}

.card {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card1 {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 992px) {
  .promotion {
    display: none !important;
  }
  .topbaricons {
    display: none !important;
  }
}

@media (max-width: 910px) {
  .errorgif {
    display: none !important;
  }

  .nobasketgif {
    display: none !important;
  }

  .placealert {
    padding-bottom: 180px;
    padding-top: 180px;
  }

  .basketalert {
    padding-bottom: 230px;
    padding-top: 230px;
  }
}

.promotion {
  margin: 30px;
}

.bizeyazin {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
}

.cardcontact {
  color: #009de0;

  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.cardcontact1 {
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.cardcontact:hover {
  background-color: #009de0;
  color: white;
  cursor: pointer;
}

.card-title {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: #009de0;
}

.plusminusicon {
  position: absolute;
  right: 0;
}

.dropdown {
  color: #009de0;
  margin: auto;
  margin-top: 30px;
}

.logregcap {
  font-family: "Oswald", sans-serif;
}

.conicon {
  font-size: 38px;
}

.mainabout {
  font-family: "Teko", sans-serif;
  padding: 30px;
  color: #009de0;
}

.mainabout img {
  height: 55px;
}

.secondabout {
  color: #009de0;
  font-family: "Oswald", sans-serif;
  padding: 30px;
  .workabout {
    color: black;
  }
}

.orderfcard {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.threeabout {
  font-family: "Oswald", sans-serif;
  color: #009de0;
  padding: 30px;
  .workabout {
    color: black;
  }
}

.contactabout {
  font-family: "Oswald", sans-serif;
  color: #009de0;
  padding: 30px;
  .workabout {
    color: black;
  }
}

.pagenav {
  font-family: "Oswald", sans-serif;
  color: #009de0;
  padding: 30px;
}

.restcaption {
  font-family: "Oswald", sans-serif;
  color: #009de0;
}

.restcaption img {
  height: 60px;
  margin-right: 10px;
}

.restaurants-detail {
  padding: 17px 20px 15px;
  font-family: "Oswald", sans-serif;
  border: 1px solid #e1e1e1;
}

.searchform {
  position: absolute;
  right: 0;
  bottom: -45px;
  z-index: 1000;
  display: none;
}

.menu-detail {
  padding: 17px 20px 15px;
  font-family: "Oswald", sans-serif;
  border: 1px solid #e1e1e1;
  .foodcap {
    color: #009de0;
  }
  .fooddetailtext {
    color: #aaa;
    font-family: "Roboto", sans-serif;
  }
}

.contact-item {
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 30px;
  width: 100%;
  margin-bottom: 50px;
  bottom: 15px;
}

.contact-item img {
  height: 50px;
  margin-bottom: 10px;
}

.contact-item h4 {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  line-height: 24px;
  padding: 26px 0 12px;
}

.plus {
  color: #009de0;
  margin-left: 20px;
}

.star-rating {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  border: solid 1px #ccc;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 0.3em;
  text-align: center;
  list-style: none;
}

.star-rating input {
  display: none;
}

.star-rating :checked ~ label {
  color: #ccc;
  cursor: pointer;
}

.star {
  text-align: left;
  font-size: 20px;
  line-height: 29px;
  font-weight: 400;
  padding-top: 9px;
  margin-bottom: 17px;
}

.cmntbtn {
  color: white !important;
  background-color: #009de0 !important;
  margin-top: 15px;
}

.userscomment {
  border: solid 1px #ccc;
  padding: 17px 20px 15px;
  margin-top: 15px;
  .username {
    font-family: "Oswald", sans-serif !important;
  }
  .usercmnt {
    font-family: "Uchen", serif !important;
  }
  .commentdatetime {
    font-family: "Roboto", sans-serif !important;
    color: #aaa !important;
  }
}

.dropbtn {
  background-color: #009de0 !important;
  color: white !important;
}

#full-stars-example {
  .rating-group {
    display: inline-flex;
  }

  .rating__icon {
    pointer-events: none;
  }

  .rating__input {
    position: absolute !important;
    left: -9999px !important;
  }

  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }

  .rating__icon--star {
    color: orange;
  }

  .rating__icon--none {
    color: #eee;
  }

  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  .rating-group:hover
    .rating__input--none:not(:hover)
    + .rating__label
    .rating__icon--none {
    color: #eee;
  }

  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }
}

#half-stars-example {
  .rating-group {
    display: inline-flex;
  }

  .rating__icon {
    pointer-events: none;
  }

  .rating__input {
    position: absolute !important;
    left: -9999px !important;
  }

  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }

  .rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
  }

  .rating__icon--star {
    color: orange;
  }

  .rating__icon--none {
    color: #eee;
  }

  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  .rating-group:hover .rating__label .rating__icon--star,
  .rating-group:hover .rating__label--half .rating__icon--star {
    color: orange;
  }

  .rating__input:hover ~ .rating__label .rating__icon--star,
  .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
  }

  .rating-group:hover
    .rating__input--none:not(:hover)
    + .rating__label
    .rating__icon--none {
    color: #eee;
  }

  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }
}

#full-stars-example-two {
  .rating-group {
    display: inline-flex;
  }

  .rating__icon {
    pointer-events: none;
  }

  .rating__input {
    position: absolute !important;
    left: -9999px !important;
  }

  .rating__input--none {
    display: none;
  }

  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }

  .rating__icon--star {
    color: orange;
  }

  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
}

.orderimg {
  size: 0rem;
}

.foodtext {
  padding-top: 20px;
}

.btnldmr {
  padding: 0.5rem 1.5rem;
  background: #009de0;
  border: none;
  border-radius: 12px 12px 12px 12px;
  color: #fff;
  margin: 20px auto;
  display: block;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.btnldmr:hover {
  opacity: 0.8;
}

.contldmr .controw .ldmr {
  display: none;
}

.orders {
  padding-top: 30px;
  padding-bottom: 150px;
  .table {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .ordercap {
    font-family: "Oswald", sans-serif;
    color: #009de0;
  }
  .ordertablecap {
    color: #009de0;
  }
}
