@model List<BasketItemViewModel>

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-6 col-md-12 col-xs-12 animate__animated animate__fadeInLeft">
            <form id="order" method="post" class="mb-40">
                <div class="orderfcard">
                    @if (!ViewBag.IsAuthenticated)
                    {
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Ad</label>
                            <input required name="Name" type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Soyad</label>
                            <input required name="SurName" type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                    }
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Ünvan</label>
                        <input required name="Address" type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Mobil nömrə</label>
                        <input required name="ContactPhone" type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Əlavə mesaj</label>
                        <textarea name="Note" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" form="order" class="paybtn btn">Sifariş ver</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </form>
        </div>

       @foreach (var item in Model)
        {
            <div class="col-lg-4 col-sm-12 col-md-12 col-xs-12 animate__animated animate__fadeIn">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h1 class="pay-card-title">Yekun</h1>
                        <p class="pay-card-text">@item.Count Məhsul: @item.TotalPrice AZN</p>
                        <hr>
                        <p class="pay-card-text">Cəmi: @item.TotalPrice AZN</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>