@model BasketItemOrderVm

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var basket = Model.basket;


}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 animate__animated animate__fadeInLeft">
            <form id="order" method="post" class="mb-40">
                <div class="orderfcard">
                    @if (!ViewBag.IsAuthenticated)
                    {
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Ad</label>
                            <input asp-for="Name" required type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Soyad</label>
                            <input asp-for="Surname" required type="text" class="form-control" id="exampleFormControlInput1">
                        </div>
                    }
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Ünvan</label>
                        <input required asp-for="Address" required type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Mobil nömrə</label>
                        <input required asp-for="ContactPhone" required type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Əlavə mesaj</label>
                        <textarea required asp-for="Note" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" form="order" class="paybtn btn">Sifariş ver</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </form>
        </div>
    </div>
</div>