@model List<Order>

@{
    ViewData["Title"] = "MyOrder";
}

        <section class="orders animate__animated animate__fadeIn">
            <div class="container">
                <div class="row">
                    <h1 class="ordercap">Sifarişlərim</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="ordertablecap" scope="col">Tarix</th>
                                <th class="ordertablecap" scope="col">Ödəniş</th>
                                <th class="ordertablecap" scope="col">Sifariş</th>
                                <th class="ordertablecap" scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CreatedAt</td>
                                    <td>@item.TotalPrice AZN</td>
                                    <td>
                                      @foreach (var item1 in item.OrderItems)
                                       {
                                           @(item1.Name  +"-"+ item1.PlaceMenu.Place.Name);
                                          <br />
                                       }
                                    </td>
                                    <td>@item.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>